.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.city-card {
  display: block;
  float: right;
  margin-top: 50px;
  width: 600px;
  box-shadow: 0px 0px 5px black;
  border-radius: 5px;
  margin: 2%;
}

.kanto-pokemon {
  margin-top: 600px;
}

.johto-pokemon {
  margin-top: 600px;
  margin-left: 20px;
}

.hoenn-pokemon {
  margin-top: 700px;
}

.css-1jv1kel {
  margin-right: 20px;
}

ul.css-1b3lipl {
  margin-left: 60px;
}

.location-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
